{% include 'CRUDPage/base.html' %}
{% block body %}
    <div id="wrapper">
    {% include 'CRUDPage/navbar.html' %}
        <div id="page-wrapper">



    <div class="container">

        <div class="row">
            <div class="panel panel-primary" style="margin-top: 10px;">

                <div class="panel-heading">
                    <div class="panel-title">Add Center</div>
                    <!--<div style="float:right; font-size: 80%; position: relative; top:-10px; padding-bottom:10px; ">
                        <a href="#"></a>
                    </div>-->
                </div>
                {% if Errors %}
                    {% for i in Errors %}
                        <div class="alert alert-danger alert-dismissable" role="alert" >
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{ i }} has some Errors
       </div>
                    {% endfor %}
                {% endif %}
                <form action="." method="post" class="form-horizontal" style="padding:20px;">
                    {% csrf_token %}
                    <fieldset>
                        <!-- Form Name -->
                        <!--<legend>Exam Entry</legend>-->

                        <!-- Exam Name -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id_name">Center Name</label>
                            <div class="col-md-6">
                                <input id="id_name" type="text" name="name" placeholder="Enter the center name" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Exam center-->
                        <!--<div class="form-group">
                            <label class="col-md-4 control-label" for="exam-center">Exam center</label>
                            <div class="col-md-6">
                                <input id="exam-center" name="exam-center" type="text" placeholder="Enter exam center" class="form-control input-md" required="">
                            </div>
                        </div>-->



                        <!-- Registration Start Date-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id_latitude">Longitude </label>
                            <div class="col-md-6">
                                <input id="id_latitude" name="latitude" type="number" placeholder="Enter the latitude" class=" form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Registration End Date-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id_longitude">Latitude</label>
                            <div class="col-md-6">
                                <input id="id_longitude" name="longitude" type="number" placeholder="Enter the longitude" class="  form-control input-md" required="">
                            </div>
                        </div>

                        <!--  Days-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id_city">City </label>
                            <div class="col-md-6">
                                <input id="id_city" name="city" type="text" min="1" placeholder="Enter the city" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!--  Slots-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id_state">State </label>
                            <div class="col-md-6">
                                <input id="id_state" name="state" type="text" min="1" placeholder="Enter the state" class="form-control input-md" required="">
                            </div>
                        </div>


                        <!--Submit Button-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-4">
                                <button name="submit" >Submit</button>
                            </div>
                        </div>

                    </fieldset>




                </form>


            </div>
            <!--End of panel-->
</div>





        </div>
    </div>
    </div>
{% endblock %}