{% load staticfiles %}
<body>
<!-- Navbar-->
{% include 'AuthPortal/navbar.html' %}
<!-- Navbar ends-->
{% include 'AuthPortal/loginsection.html' %}
<footer class=" footer navbar-fixed-bottom">
            <div class="container">

                <table>
                    <td>
                        <img class="img-responsive" src="{% static 'AuthPortal/assets/img/logo2/footer67.png' %}" alt="Ministry_logo">
                    </td>
                </table>
            </div>
        </footer>



</body>